<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>{{ page.title | default: "Logan's Crochet" }}</title>
		
		<meta name="viewport" content="width=device-width, initial=scale=1.0, minimum-scale=1.0" />
		<meta name="theme-color" content="#FFAAAA" />
		
		<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
		<link rel="stylesheet" href="{{ "/assets/css/skeleton.css" | relative_url}}">
		<style>a {text-decoration: none}</style>
	</head>
	<body class="container" style="font-family: 'Raleway', sans-serif; text-align: center">
		<h1 style="margin-top: 5%"><a href="{{ "/" | relative_url }}">Logan's Crochet</a></h1>
		{{ content }}
		<hr><footer>Contacts: <a href="mailto:taga@myself.com" alt="Email">taga@myself.com</a>, <a href="sms:16083152470">+1 (608) 315-2470</a>, <a href="https://t.me/Junipyr" alt="Telegram">@Junipyr on Telegram</a>.</footer>
	</body>
</html>
