<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>
		<title>{{ page.title | default: "Logan's Crochet" }}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
		<meta name="theme-color" content="#FFAAAA" />
		<meta name="description" content="Crocheted products" />
		
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="{{ page.title | default: "Logan's Crochet" }}" />
		<meta name="twitter:description" content="Crocheted products" />
		<meta name="twitter:image" content="https://tagaroggu.github.io/assets/images/Tagaroggu.png" />
		<meta name="twitter:site" content="@Tagaroggu" />
		
		<meta name="og:title" content="{{ page.title | default: "Logan's Crochet" }}" />
		<meta name="og:type" content="website" />
		<meta name="og:image" content="https://tagaroggu.github.io/assets/images/Tagaroggu.png" />
		<meta name="og:url" content="https://tagaroggu.github.io/crochet" />
		<meta name="og:description" content="Crocheted products" />
		
		<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
		<link rel="stylesheet" href="{{ "/assets/css/skeleton.css" | relative_url }}">
		<style>a {text-decoration: none}</style>
		<script>
			if ('serviceWorker' in navigator) {
				navigator.serviceWorker.register("{{ "/serviceworker.js" | relative_url }}");
			}
		</script>
	</head>
	<body class="container" style="font-family: 'Raleway', sans-serif; text-align: center">
		<h1 style="margin-top: 5%"><a href="/">Logan's Crochet</a></h1>
		{{ content }}
		<hr><footer>Contacts: <a href="mailto:taga@myself.com" alt="Email">taga@myself.com</a>, <a href="sms:16083152470">+1 (608) 315-2470</a>, <a href="https://t.me/Junipyr" alt="Telegram">@Junipyr on Telegram</a>, <a rel="me" href="https://mastodon.online/@junipyr">@junipyr@mastodon.online on Mastodon</a>.</footer>
	</body>
</html>
